@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: sans-serif;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: 100vh;
}

.header {
  background-color: azure;
}
.header__container {
  text-align: center;
}
.header__logo {
  font-family: "Rubik Maze";
  font-size: 5rem;
  padding: 1rem 0;
}
@media (min-width: 1024px) {
  .header__logo {
    font-size: 6rem;
  }
}

.main {
  padding-bottom: 20px;
}

.message {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem;
}
.message--hidden {
  display: none;
}
@media (min-width: 1024px) {
  .message {
    font-size: 1.8rem;
  }
}

.form {
  border: 2px solid black;
  border-radius: 4px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  margin: 1rem auto;
}
.form__title {
  font-family: "Rubik Maze";
  font-weight: normal;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.form__label {
  margin-bottom: 0.5rem;
}
.form__input, .form__select {
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.5rem;
}
.form__button {
  font-family: "Rubik Maze";
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: lightgreen;
  width: 20rem;
  border: none;
  border-radius: 4px;
  margin: 1rem;
  padding: 1rem;
  align-self: center;
  cursor: pointer;
}
.form__button:hover {
  background-color: rgb(178, 236, 178);
  transform: scale(1.1);
}
.form--hidden {
  display: none;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game--format {
  margin: 0 auto;
}
.game__questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.game__questions--unclickable {
  pointer-events: none;
}
.game__questions--hidden {
  display: none;
}
.game__title {
  font-family: "Rubik Maze";
  font-weight: normal;
  font-size: 3rem;
}
@media (min-width: 1024px) {
  .game__title {
    font-size: 4rem;
  }
}
.game__question {
  text-align: center;
  margin: 3rem;
  font-size: 1.5rem;
}
@media (min-width: 1024px) {
  .game__question {
    font-size: 1.8rem;
  }
}
.game__answer {
  font-size: 1.5rem;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 15rem;
  border: 2px solid black;
  border-radius: 4px;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
}
.game__answer:hover {
  background-color: azure;
}
.game__answer--correct {
  background-color: green;
}
.game__answer--correct:hover {
  background-color: green;
}
.game__answer--incorrect {
  background-color: red;
}
.game__answer--incorrect:hover {
  background-color: red;
}
.game__navigate-container {
  margin: 20px 0 50px 0;
}
.game__navigate-container--end-game {
  border: 1px solid red;
  margin-bottom: 0;
}
.game__navigate {
  background-color: transparent;
  font-family: "Rubik Maze";
  font-size: 2rem;
  text-transform: capitalize;
  border: 0.5px solid lightgrey;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
  pointer-events: all;
}
.game__navigate--next:hover {
  color: blue;
  transform: scale(1.1);
}
.game__navigate--prev {
  margin-right: 10px;
}
.game__navigate--prev:hover {
  color: red;
  transform: scale(1.1);
}
.game__reset {
  position: absolute;
  right: 0;
  bottom: 0;
  color: red;
  border: 1px solid red;
  opacity: 0.4;
}
.game__reset--hidden {
  display: none;
}
.game__reset:hover {
  opacity: 1;
  background-color: rgba(255, 0, 0, 0.15);
}
.game--hidden {
  display: none;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 500px) {
  .results {
    max-width: 500px;
  }
}
.results--format {
  margin: 0 auto;
}
.results__statement, .results__feedback {
  text-align: center;
  font-family: "Rubik Maze";
  font-weight: bold;
  letter-spacing: 0.1rem;
  background-color: azure;
  border: 5px solid azure;
  border-radius: 4px;
  margin: 1rem;
  padding: 1rem;
  font-size: 2.5rem;
}
.results__button {
  min-width: 15rem;
  margin: auto;
  margin-top: 20px;
}
.results__button--hidden {
  display: none;
}
.results__button:hover {
  color: green;
  transform: scale(1.1);
}/*# sourceMappingURL=styles.css.map */