@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: sans-serif;
  min-width: fit-content;
  min-height: 100vh;
}

.header {
  background-color: azure;
  &__container {
    text-align: center;
  }

  &__link {
    color: black;
    text-decoration: none;
  }

  &__logo {
    font-family: "Rubik Maze";
    font-size: 5rem;
    padding: 1rem 0;

    @media (min-width: 1024px) {
      font-size: 6rem;
    }
  }
}

.main {
  padding-bottom: 20px;
}

.message {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem;

  &--hidden {
    display: none;
  }

  @media (min-width: 1024px) {
    font-size: 1.8rem;
  }
}

.form {
  border: 2px solid black;
  border-radius: 4px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  margin: 1rem auto;

  &__title {
    font-family: "Rubik Maze";
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__label {
    margin-bottom: 0.5rem;
  }

  &__input,
  &__select {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.5rem;
  }

  &__button {
    font-family: "Rubik Maze";
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: lightgreen;
    width: 20rem;
    border: none;
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
    align-self: center;
    cursor: pointer;

    &:hover {
      background-color: rgb(178, 236, 178);
      transform: scale(1.1);
    }
  }

  &--hidden {
    display: none;
  }
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--format {
    margin: 0 auto;
  }

  &__questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;

    &--unclickable {
      pointer-events: none;
    }

    &--hidden {
      display: none;
    }
  }

  &__title {
    font-family: "Rubik Maze";
    font-weight: normal;
    font-size: 3rem;

    @media (min-width: 1024px) {
      font-size: 4rem;
    }
  }

  &__question {
    text-align: center;
    margin: 3rem;
    font-size: 1.5rem;

    @media (min-width: 1024px) {
      font-size: 1.8rem;
    }
  }

  &__answer {
    font-size: 1.5rem;
    background-color: white;
    width: fit-content;
    min-width: 15rem;
    border: 2px solid black;
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: azure;
    }

    &--correct {
      background-color: green;

      &:hover {
        background-color: green;
      }
    }
    &--incorrect {
      background-color: red;

      &:hover {
        background-color: red;
      }
    }
  }

  &__navigate-container {
    margin: 20px 0 50px 0;
  }

  &__navigate {
    background-color: transparent;
    font-family: "Rubik Maze";
    font-size: 2rem;
    text-transform: capitalize;
    border: 0.5px solid lightgrey;
    border-radius: 4px;
    padding: 1rem;
    cursor: pointer;
    pointer-events: all;

    &--next:hover {
      color: blue;
      transform: scale(1.1);
    }

    &--prev {
      margin-right: 10px;
      &:hover {
        color: red;
        transform: scale(1.1);
      }
    }
  }

  &__reset {
    position: absolute;
    right: 0;
    bottom: 0;
    color: red;
    border: 1px solid red;
    opacity: 0.4;

    &--hidden {
      display: none;
    }

    &:hover {
      opacity: 1;
      background-color: rgba(255, 0, 0, 0.15);
    }
  }

  &--hidden {
    display: none;
  }
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 500px) {
    max-width: 500px;
  }

  &--format {
    margin: 0 auto;
  }

  &__statement,
  &__feedback {
    text-align: center;
    font-family: "Rubik Maze";
    font-weight: bold;
    letter-spacing: 0.1rem;
    background-color: azure;
    border: 5px solid azure;
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
    font-size: 2.5rem;
  }

  &__button {
    min-width: 15rem;
    margin: auto;
    margin-top: 20px;

    &--hidden {
      display: none;
    }

    &:hover {
      color: green;
      transform: scale(1.1);
    }
  }
}
